/* Set a standard font size for all messages */
.message-text {
	font-size: 14px; /* Adjust to your preferred font size */
	line-height: 1.2;
}

/* Container for messages */


/* display date styles */
.disp_date {
	display: flex;
	flex-direction: column;
	align-items: center; /* Align to the center*/
	background-color:#1e293b; /* green background for incoming */
	color:#ffffff;
	padding: 1px;
	border-radius: 10px; /* Rounded corners*/
	margin: 0 auto;
	position: relative; /* To position*/
	width: 200px; /* Set width*/
}

/* Incoming message styles */
.outgoing-msg {
	display: flex;
	flex-direction: column;
	align-items: flex-start; /* Align incoming messages to the left */
	background-color: #e1e1e1; /* Light gray background for incoming */
	padding: 10px;
	
	border-radius: 10px 20px 20px 0px; /* Rounded corners on top-left, top-right, bottom-right*/
	margin-right:auto;
	margin-left: 0; /* Keep incoming message on the left */
	max-width: 90%; /* Set max width for incoming messages */
	width: auto; /* Remove width restriction, let it expand based on content */
	position: relative; /* To position the cloud arrow */
	min-width: 200px; /* Set min width for incoming messages */
}

/* Outgoing message styles */



/* Time stamp styles */
.send-time {
	position: relative;
	top: 10px;
	font-size: 8px; /* Smaller font size for timestamp */
	color: #00CC66; /* Green color for send time */
	text-align: right;
	margin-top: 5px; /* Space between message and time */
	align-self: flex-end; /* Align timestamp to the right */
}

/* Make sure the message container takes full width if needed */
.message-container {
	width: 100%;
}


    .input-container {
        position: relative;
        width: 100%;
		margin-top:20px;
    }

    .input-box {
        width: 100%;
        padding: 10px 0px 10px 10px;
        padding-right: 60px;  /* Add padding to the right to make space for the button */
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }


    .send-button:hover {
        background-color: #0056b3;
    }